@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Serif JP', serif;
}

body {
    --bgColor:hsl(0, 0%, 98%);
    --countrybgColor:hsl(0, 0%, 98%);
    --fontColor:hsl(200, 15%, 8%);
    --fontColor2: rgb(42, 42, 173);
    --arrowColor: black;
    width: 100%;
    min-height: 100vh;
}

.dark-mode {
    --bgColor:hsl(207, 26%, 17%);
    --fontColor:hsl(0, 0%, 98%);
    --countrybgColor: hsl(209, 23%, 22%);
    background: var(--bgColor);
    color: var(--fontColor);
    --fontColor2: rgb(135, 135, 255);
    --arrowColor: rgb(255, 255, 255);
}

.container {
    width: 100%;
    padding: 30px;
    display: flex;
    justify-content: space-between;
}

.container:nth-child(1) {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    background: var(--countrybgColor);
}

.arrow {
    color: var(--arrowColor);
    transition: transform 200ms ease-in-out;
}

.flip {
    transform: rotate(180deg);
}

button{
    border: 0;
    background: transparent;
}

.toggle {
    font-size: 18px;
    cursor: pointer;
    color: var(--fontColor);
}

.toggle i {
    padding-right: 5px;
}

.form-control {
    width: 400px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    position: relative;
    border-radius: 5px;
    overflow: hidden;
}

.form-control input {
    background: var(--countrybgColor);
    color: var(--fontColor);
    width: 100%;
    height: 100%;
    padding: 17px 14px;
    outline: 0;
    border: 0;
    font-size: 15px;
    letter-spacing: 0.5px;
}

.search-icon {
    background: var(--countrybgColor);
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 1rem;
    cursor: pointer;
}

.dropDownContainer {
    width: 200px;
    position: relative;
    border-radius: 5px;
    user-select: none;
    background: var(--countrybgColor);
}

.dropDown {
    width: 100%;
    padding: 17px 14px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.dropDown i {
    cursor: pointer;
}

.dropDown p {
    letter-spacing: 0.5px;
}

@keyframes scale {
    0% {
        /* transform: scale(1); */
        font-size: 16px;
    }
    100% {
        /* transform: scale(1.1); */
        font-size: 18px;
    }
}

.drop {
    position: absolute;
    top: 4rem;
    width: 100%;
    cursor: pointer;
    text-align: left;
    animation: growDown 300ms ease-in-out forwards;
    transform-origin: top center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

@keyframes growDown {
    0% {
        transform: scaleY(0)
    }
    80% {
        transform: scaleY(1.1)
    }
    100% {
        transform: scaleY(1)
    }
}

.region {
    padding: 4px 10px;
    background: var(--countrybgColor);
    transition: transform 0.3s, background-color 0.3s;
}

.region:hover {
    background-color:rgb(137, 137, 137);
    
}
  
.drop p {
    margin: 0px 0;
}

.countries {
    padding: 30px;
}

.country {
    background: var(--countrybgColor);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    margin-bottom: 30px;
}

.country-img {
    height: 250px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.country-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.more {
    font-weight: bold;
    letter-spacing: 1px;
    color: var(--fontColor2);
    cursor: pointer;
    font-size: 16px;
    text-decoration: underline;
}

.country-info {
    padding: 20px 17px;
    line-height: 35px;
    margin-top: auto;
    margin-bottom: auto;
}

.country-info h5 {
    padding: 8px 0;
    font-size: 20px;
    letter-spacing: 1px;
}

.country-info p {
    letter-spacing: 1px;
}

.country-info p>strong {
    font-weight: 600;
}

.showDropDown {
    display: none;
}

.extraContainer {
    display: flex;
    justify-content: center;
}

.countryExtra {
    position: fixed;
    top: 0;
    width: 100%;
    height: 70%;
    background: var(--bgColor);
    padding: 30px;
    overflow: auto;
    justify-self: center;
}

.news {
    background-color: var(--countrybgColor);
    color: var(--fontColor);
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40%;
    background: var(--bgColor);
    padding: 30px;
    overflow: auto;
    border-top: solid;
    border-width: 1px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.readMore {
    letter-spacing: 1px;
    color: var(--fontColor2);
}

.back {
    background-color: var(--countrybgColor);
    color: var(--fontColor);
    position: absolute;
    top: 3rem;
    left: 30px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    padding: 10px 20px;
    font-size: 16px;
    letter-spacing: 1px;
    border-radius: 5px;
    cursor: pointer;
}

.extra {
    display: flex;
    align-items: center;
    height: 100%;
}

.leftExtra {
    width: 30%;
}

.leftExtra img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.rightExtra {
    width: 50%;
    margin-left: 40px;
}

.rightExtra h1 {
    margin: 10px 0;
    letter-spacing: 1px;
    font-size: 40px;
}

.extraInfo {
    display: flex;
    justify-content: space-between;
}

.inner p {
    letter-spacing: 1px;
}

.inner p>strong {
    font-weight: 600;
}

.show {
    display: none;
}

.bottomExtra {
    margin-top: 100px;
}

.citation {
    display: flex;
    justify-content: right;
    padding-right: 50px;
    padding-bottom: 50px;
}