@import url("https://fonts.google.com/specimen/Nunito+Sans");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Nunito Sans", sans-serif;
    --bgColor:hsl(0, 0%, 98%);
    --countrybgColor:hsl(0, 0%, 98%);
    --fontColor:hsl(200, 15%, 8%);
    --fontColor2: rgb(42, 42, 173);
    --arrowColor: black;
    width: 100%;
    min-height: 100vh;
}

.dark-mode {
    --bgColor:hsl(207, 26%, 17%);
    --fontColor:hsl(0, 0%, 98%);
    --countrybgColor: hsl(209, 23%, 22%);
    background: var(--bgColor);
    color: var(--fontColor);
    --fontColor2: rgb(135, 135, 255);
    --arrowColor: rgb(255, 255, 255);
}

.container {
    width: 100%;
    padding: 30px;
    display: flex;
    justify-content: space-between;
}

.container:nth-child(1) {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    background: var(--countrybgColor);
}

.arrow {
    color: var(--arrowColor);
}

button{
    outline: none;
    border: 0;
    background: transparent;
}

.toggle {
    font-size: 18px;
    cursor: pointer;
    color: var(--fontColor);
}

.toggle i {
    padding-right: 5px;
}

.form-control {
    width: 400px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    position: relative;
    border-radius: 5px;
    overflow: hidden;
}

.form-control input {
    background: var(--countrybgColor);
    color: var(--fontColor);
    width: 100%;
    padding: 17px 14px;
    outline: 0;
    border: 0;
    font-size: 15px;
    letter-spacing: 0.5px;
}

.form-control i {
    background: var(--countrybgColor);
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
}

.dropDownContainer {
    background: var(--countrybgColor);
    width: 200px;
    position: relative;
    border-radius: 5px;
    user-select: none;
}

.dropDown {
    width: 100%;
    padding: 17px 14px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    color: var(--fontColor);
}

.dropDown i {
    cursor: pointer;
}

.dropDown p {
    letter-spacing: 0.5px;
}

.drop :hover {
    background:rgba(0, 0, 0, 0.3);
}

.drop {
    background: var(--bgColor);
    background: var(--countrybgColor);
    position: absolute;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    top: 4rem;
    padding: 10px 14px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.drop p {
    margin: 5px 0;
}

.countries {
    padding: 30px;
}

.country {
    background: var(--countrybgColor);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    margin-bottom: 30px;
}

.country-img {
    height: 250px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.country-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.more {
    font-family: "Nunito Sans", sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    color: var(--fontColor2);
    cursor: pointer;
    font-size: 16px;
    text-decoration: underline;
}

.country-info {
    padding: 20px 17px;
    line-height: 35px;
    margin-top: auto;
    margin-bottom: auto;
}

.country-info h5 {
    padding: 8px 0;
    font-size: 20px;
    letter-spacing: 1px;
}

.country-info p {
    letter-spacing: 1px;
}

.country-info p>strong {
    font-weight: 600;
}

.showDropDown {
    display: none;
}

.countryExtra {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--bgColor);
    padding: 30px;
}

.back {
    position: absolute;
    top: 3rem;
    left: 30px;
    background: #fdfdfd;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    padding: 10px 20px;
    font-size: 16px;
    letter-spacing: 1px;
    border-radius: 5px;
    cursor: pointer;
}

.extra {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
}

.leftExtra {
    width: 50%;
}

.leftExtra img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.rightExtra {
    width: 50%;
    margin-left: 40px;
}

.rightExtra h1 {
    margin: 10px 0;
    letter-spacing: 1px;
    font-size: 40px;
}

.extraInfo {
    display: flex;
    justify-content: space-between;
}

.inner p {
    letter-spacing: 1px;
}

.inner p>strong {
    font-weight: 600;
}

.show {
    display: none;
}